/* Google Fonts initialised */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.floating {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*Home Page -- index.html*/
.home-wrapper {
    background-color: black;
    width: 100%;
    position: relative;
}

.img {
    width: 100%;
    z-index: 0;
}

#front-page {
    opacity: 0.5;
}

.front-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us {
    margin: 10px 20px;
    padding: 0 10px;
}
.experience {
    padding: 0 30px;
}

.review-wrapper {
    width: 100%;
    background-image: url("https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680641515/booking-page_fvddri.jpg");
    background-size: cover;
    background-position: center;
}

.review-form {
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
}

.star {
    color: #f2b600
}

/* Star review selection --index.html */

.rate input[type=radio] {
    opacity: 0;
}

.rate {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
    justify-content: center;
}

.rate > label:before {
    font-family: FontAwesome;
    content: "\f005";
    font-size: 35px;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.rate label:hover,
.rate label:hover ~ label {
    color: #f2b600;
}

label:focus-within {
    color: #f2b600;
}

label:focus-within ~ label:before {
    color: #f2b600;
}

/* text area - Review section --index.html */
#id_comment {
    height: 200px;
    border-radius: 20px;
}

/*Create A Booking -- reservations.html*/

.booking-wrapper {
    width: 100%;
    height: 800px;
    background-image: url("https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680641515/booking-page_fvddri.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.signup-form {
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
}

/* Manage Bookings -- mybookings.html*/


.actions {
    display: flex;
}

.actions button {
    margin-right: 5px;
}

/* Update bookings -- updatebooking.html */
.delete-area {
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sign Out Page -- logout.html */
.signout-wrapper {
    padding: 40px;
}

/* Sign Up Page -- signup.html */
.signup-wrapper {
    width: 100%;
}

.signup-wrapper p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Log In Page -- login.html */
.login-wrapper {
    width: 100%;
}

.login-wrapper p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*footer --base.html*/

.bottom-footer {
    margin-top: auto;
}

.social-media-links {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.social-media-links a {
    text-decoration: none;
    color: white;
}

/*Mobile View*/
@media screen and (min-width:900px) {

    .food-menu {
        width: 50%;
        z-index: 0;
        margin: 0 auto;
        display: block;
    }

    /* manage bookings --mybookings.html */
    .table-wrapper {
        width: 50%;
        margin: 0 auto;
        border-top: 5px solid black;
    }
}