/*Home Page -- index.html*/
.home-wrapper {
    background-color: black;
    width: 100%;
    position: relative;
}

.img {
    width: 100%;
    z-index: 0;
}

#front-page {
    opacity: 0.5;
}

.front-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us {
    margin: 10px 20px;
}


/*Create A Booking -- reservations.html*/
.booking-form {
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Manage Bookings -- mybookings.html*/
.actions {
    display: flex;
}

.actions a {
    margin-right: 5px;
}


/*Mobile View*/
@media screen and (min-width:900px) {

    #food-menu {
        width: 50%;
        z-index: 0;
        margin: 0 auto;
        display: block;
    }
}