{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous">
  </script>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <script src="https://kit.fontawesome.com/e93b74b526.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script defer src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script defer src="{% static 'js/script.js' %}"></script>
  <title>Savory junction</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Savory Junction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reservations' %}">CREATE A BOOKING</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookings' %}">MANAGE BOOKINGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">LOGOUT</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">REGISTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">LOGIN</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <main>
    {% block content %}

    {% endblock content %}
  </main>

  <footer class="footer mt-auto py-3 bg-dark" data-bs-theme="dark">
    <p class="text-center text-white">Made by Rinalds Zimelis</p>
    <div class="icon-wrapper">
      <ul class="social-media-links">
        <li>
          <a href="https://www.facebook.com" target="_blank"
            aria-label="A link that opens a new tab and brings you to facebook.com"><i
              class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank"
            aria-label="A link that opens a new tab and brings you to instagram.com"><i
              class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com" target="_blank"
            aria-label="A link that opens a new tab and brings you to youtube.com"><i
              class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank"
            aria-label="A link that opens a new tab and brings you to twitter.com"><i
              class="fa-brands fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>