{% extends 'base.html' %}

{% block content %}
<div class="home-wrapper">
  <div class="front-image">
    <img class="img" id="front-page"
      src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680374281/homepage_mlrw5g.jpg">
  </div>
  <h1 class="text-center text-white front-text">Welcome to Savory Junction</h1>
</div>
<div class="container-fluid text-center mt-5">
  <h2 class="text-center">About Us</h2>
  <div class="row justify-content-around">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <p class="text-center about-us">
        Welcome to Savory Junction, a vibrant restaurant located in the heart of the city.
        We pride ourselves on serving up a delicious fusion of international flavors and locally sourced ingredients,
        all expertly prepared by our talented chefs. From savory starters to delicious
        main courses and mouth-watering desserts, our menu offers something for every palate. Come in and experience
        our warm and inviting atmosphere, friendly service, and of course, our incredible food. Whether you're looking
        for a romantic dinner for two or a fun night out with friends, we're excited to share our love of food with you.
      </p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8">
      <img class="img" id="food-menu"
        src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680380820/menu_ocoax2.jpg">
    </div>
  </div>
</div>
<div class="container-fluid text-center mt-5">
  <h2 class="text-center">The Passion We Have</h2>
  <div class="row justify-content-around">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <img class="img" id="food-menu"
        src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680383637/food_h7llzy.jpg">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <p>
        At Savory Junction, we pride ourselves on serving up delicious
        and authentic cuisine from around the world. Our menu features
        a wide variety of dishes, including classic favorites and unique
        flavors that you won't find anywhere else.
        From savory appetizers to mouthwatering main dishes and decadent desserts,
        our menu is designed to delight your taste buds and leave you feeling satisfied.
        Whether you're in the mood for something spicy and flavorful or something sweet
        and indulgent, we have something for everyone.
        Our chefs use only the freshest ingredients and traditional cooking techniques
        to create each and every dish.
        So come visit us at Savory Junction and discover the many flavors of the world.
        We're sure you'll love our menu as much as we do!
      </p>
    </div>

  </div>
</div>

<div class="container-fluid mt-4">
  <h3 class="text-center">What Our Customers Say About Us</h3>
  <div class="row">
    {% for review in reviews %}
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{ review.user_name }}</h5>
          <p class="card-text">{{ review.comment }}</p>
          <p>{{ review.rating }} stars</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="review-wrapper">
  {% if user.is_authenticated %}
  <div class="form-input text-center">
    <form method="post" class="signup-form">
      {% csrf_token %}
      <h1>Leave a review</h1>
      <div class="mb-3">
        <label class="form-label" for="{{ review_form.rating.id_for_label }}">How would you rate your
          experience:</label>
        <div>
          {{ review_form.rating}}
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="{{ review_form.comment.id_for_label }}">Leave a comment:</label>
        <div>
          {{ review_form.comment }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Leave Review</button>
    </form>
  </div>
  {% else %}
  <h3 class="text-center">Please log in if you would like to leave a review about us!</h3>
  {% endif %}
</div>



{% endblock %}