{% extends 'base.html' %}

{% block content %}
<div class="col-md-12 bg-dark">
<img class="img" id="front-page"src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680374281/homepage_mlrw5g.jpg">
</div>
<h1 class="centered-text text-white">Welcome to Savory Junction</h1>
<p>
  Welcome to Savory Junction, a vibrant restaurant located in the heart of the city. 
  We pride ourselves on serving up a delicious fusion of international flavors and locally sourced ingredients,
  all expertly prepared by our talented chefs. From savory starters to delicious
  main courses and mouth-watering desserts, our menu offers something for every palate. Come in and experience
  our warm and inviting atmosphere, friendly service, and of course, our incredible food. Whether you're looking
  for a romantic dinner for two or a fun night out with friends, we're excited to share our love of food with you.
</p>
{% endblock %}