{% extends 'base.html' %}

{% block content %}
<!-- Home page Main image -->
<div class="home-wrapper">
  <div class="front-image">
    <img class="img" id="front-page"
      src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680374281/homepage_mlrw5g.jpg"
      alt="Main image of the restaurant">
  </div>
  <h1 class="text-center text-white front-text text-uppercase">Welcome to Savory Junction</h1>
  <a class="btn btn-lg btn-success front-button" href="{% url 'reservations' %}">Make a Reservation</a>
</div>
<!-- About us section -->
<div class="container-fluid text-center mt-5">
  <h2 class="text-center">Why We Rock</h2>
  <div class="row justify-content-around mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3>About Us</h3>
      <p class="text-center about-us">
        Welcome to Savory Junction, a fancy restaurant located in the heart of the city.
        We pride ourselves on serving up delicious flavors and locally sourced ingredients,
        all expertly prepared by our talented chefs. From savory starters to delicious
        main courses and mouth-watering desserts, our menu offers something for everyone. Come in and experience
        our warm and welcoming staff and of course, our incredible food. Whether you're looking
        for a romantic dinner or a fun night out with friends, we're excited to share this experience with you.
      </p>
    </div>
    <!-- Menu Section -->
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3>Our Menu</h3>
      <img class="img food-menu" src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680380820/menu_ocoax2.jpg"
        alt="Restaurant menu">
    </div>
  </div>
</div>
<div class="container-fluid text-center mt-5">
  <h2 class="text-center">The Passion We Have</h2>
  <div class="row justify-content-around mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img class="img food-menu" src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680383637/food_h7llzy.jpg"
        alt="delicious food on a plate">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 experience">
      <p>
        At Savory Junction, we pride ourselves on serving up delicious
        cuisine. Our menu features a wide variety of dishes,
        including classic favorites and unique dishes that you won't
        find anywhere else. From savory starters to delicious
        main courses and mouth-watering desserts
        our menu is designed to make you feeling satisfied.
        Whether you're in the mood for something spicy and flavorful or something sweet,
        we have something for everyone.
        Our chefs use only the most delicious flavors and locally sourced ingredients
        to create each dish.
        So come visit us at Savory Junction and discover all the flavors of the world.
        We're sure you'll love our menu as much as we do!
      </p>
    </div>

  </div>
</div>
<!-- Review Section -->
<div class="container-fluid mt-4 mb-4">
  <h3 class="text-center">What Our Customers Say About Us</h3>
  <div class="row">
    {% for review in reviews %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mt-1 mb-1">
        <div class="card-body text-center">
          <h5 class="card-title">{{ review.user_name }}</h5>
          <p class="card-text">{{ review.comment }}</p>
          <p class="card-text star">
            {% if review.rating == 1 %}
            <i class="fa fa-star"></i>
            {% elif review.rating == 2 %}
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
            {% elif review.rating == 3 %}
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            {% elif review.rating == 4 %}
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            {% elif review.rating == 5 %}
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Write a review section -->
{% if user.is_authenticated %}
<div class="review-wrapper">
  <div class="form-input text-center">
    <form method="post" class="review-form">
      {% csrf_token %}
      <h1>Leave a review</h1>
      <div class="mb-3">
        <div class="rate">
          {% for radio in review_form.rating %}
          {{ radio }}
          {% endfor %}
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="{{ review_form.comment.id_for_label }}">Leave a comment:</label>
        <div>
          {{ review_form.comment }}
        </div>
      </div>
      <button type="submit" class="btn btn-success">Leave Review</button>
    </form>
  </div>
</div>
{% else %}
<div class="review-wrapper-log-out text-center mb-4">
  <h3 class="text-center">Please log in if you would like to leave a review about us!</h3>
  <a class="btn btn-success" href="{% url 'account_login' %}">LOG IN</a>
</div>
{% endif %}

{% endblock %}