{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">This is our menu</h2>
<div class="row">
<div class="col-md-12">
  <img class="img" id="food-menu" src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680380820/menu_ocoax2.jpg">
</div>
</div>
<div class="row">

<div class="text-center col-md-6 menu-text">
<p>
  At Savory Junction, we pride ourselves on serving up delicious
  and authentic cuisine from around the world. Our menu features 
  a wide variety of dishes, including classic favorites and unique
  flavors that you won't find anywhere else.
  From savory appetizers to mouthwatering main dishes and decadent desserts,
  our menu is designed to delight your taste buds and leave you feeling satisfied.
  Whether you're in the mood for something spicy and flavorful or something sweet
  and indulgent, we have something for everyone.
  Our chefs use only the freshest ingredients and traditional cooking techniques
  to create each and every dish.
  So come visit us at Savory Junction and discover the many flavors of the world.
  We're sure you'll love our menu as much as we do!
</p>
</div>
<div class="col-md-6">
  <img class="img" id="food-menu" src="https://res.cloudinary.com/dgd9rq3qb/image/upload/v1680383637/food_h7llzy.jpg">
</div>
</div>
{% endblock %}


