{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h2>Your Reservations</h2>

    {% if request.user.is_authenticated %}
    <h4>Welcome, {{ request.user.username }}!</h4>
    {% endif %}
</div>
{% if bookings %}
<p class="text-center">These are your current restaurant bookings made with us:</p>
<div class="table-wrapper">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for booking in bookings %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ booking.day }}</td>
                <td>{{ booking.time }}</td>
                <td>
                    <div class="actions">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-reservation">
                            Update
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="update-reservation" tabindex="-1" aria-labelledby="confirm-update"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirm-update">Confirm Selection</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to update your booking?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success btn-sm"
                                            data-bs-dismiss="modal">Keep</button>
                                        <a href="{% url 'update_booking' booking.pk%}"
                                            class="btn btn-danger btn-sm">Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form action="{% url 'delete_booking' booking.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#delete-booking">Delete
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="delete-booking" tabindex="-1" aria-labelledby="confirm-delete"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirm-delete">Confirm Selection</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete your reservation?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success btn-sm"
                                                data-bs-dismiss="modal">Keep</button>
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="text-center">No bookings found.</p>
{% endif %}
{% endblock %}