{% extends 'base.html' %}

{% block content %}
    <h1>Your Reservations</h1>

    {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user.username }}!</p>
    {% endif %}

    {% if bookings %}
        <p>These are your current restaurant bookings made with us:</p>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.day }}</td>
                <td>{{ booking.time }}</td>
                <td>
                    <form action="{% url 'delete_booking' booking.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
                <td><a href="{% url 'update_booking' booking.pk%}">Update</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
{% endblock %}

